<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İbrahim Cem Keleş</title>
    <style>body{
        background-color: #686300;
}

.kbilgi{
    font-size: 25px;
    color: rgb(255, 204, 0);
}
 </style>
</head>
<body>
    <h1 style="color: chartreuse;">Bilgilerim</h1>
    <div class="kbilgi">
    <p>Ad Soyad: {{name}} </p>
    <p>Şirket: {{company}} </p>
    <p>Web Site: {{website}} </p>
</div>
     

</body>
</html>